{
  "presets": [
    "latest",
    "stage-0"
  ],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-es5-property-mutators",
    "transform-flow-strip-types",
    "lodash"
  ],
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
