{
  "presets": [
    ["latest", {
      "es2015": {
        "modules": false
      }
    }],
    "stage-0"
  ],
  "plugins": [
    "lodash"
  ],
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
