/*! VueLayers.js site */
@import "variables";
// Import Bulma and Buefy styles
@import "../../../../node_modules/bulma/bulma";
@import "helpers";
@import "base";
@import "loader";

// Page loader
#page-loader {
  position   : absolute;
  left       : 0;
  top        : 0;
  right      : 0;
  bottom     : 0;
  background : $white;
  z-index    : 99999;
  opacity    : 1;
  transition : opacity ease-out 1s;

  .rotating-loader {
    position    : absolute;
    top         : 50%;
    left        : 50%;
    margin-top  : -40px;
    margin-left : -40px;
  }

  &.hidden {
    opacity : 0;
  }
}

// header
#header {
  position : absolute;
  z-index  : 100;
  left     : 0;
  right    : 0;
  top      : 0;
}

// Sidebars
.sidebar {
}

#left-sidebar {
  // Menu
  .menu {
    padding : 1rem .75rem;

    @include desktop() {
      padding : 1.25rem;
    }
  }
}

// Page
.page {
  position : relative;
}

.page.is-home {
  position : absolute;
  top      : 0;
  left     : 0;
  right    : 0;
  bottom   : 0;

  #bg-map {
    position : absolute;
    top      : 0;
    bottom   : 0;
    left     : 0;
    right    : 0;
    z-index  : 0;
  }

  > .section {
    position   : absolute;
    top        : 50%;
    left       : 50%;
    transform  : translate3d(-50%, -50%, 0);
    background : rgba(255, 255, 255, .6);
  }
}
