// Import Bulma's core
@import "~bulma/sass/utilities/_all";

$code-background: darken($light, 2%);

// sidebar
$sidebar-background: $dark url(static/sidebar-bg.png) repeat;
$sidebar-link-color: $primary;
$sidebar-link-hover-color: $primary-invert;
$sidebar-link-active-color: $primary-invert;
$sidebar-link-background: none;
$sidebar-link-hover-background: transparentize(lighten($dark, 10%), 0.5);
$sidebar-link-active-background: transparentize($primary, 0.5);


// Menu
$menu-item-color: $text;
$menu-item-radius: $radius-small;
$menu-item-hover-color: $text-strong;
$menu-item-hover-background-color: $background;
$menu-item-active-color: $link-invert;
$menu-item-active-background-color: $link;
$menu-list-border-left: 1px solid $border;
$menu-label-color: $text-light;
