<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>VueLayers.js</title>

  <meta name="description" content="Vue 2.0 components to work with OpenLayers">
  <meta name="keywords" content="vuelayers, vuejs, vuejs plugins, vuejs components, openlayers, ol, web maps, vuejs maps">

  <meta name="author" content="Vladimir Vershinin">
  <meta name="google-site-verification" content="c-vYF16d_ii2UBhdIfMY0upVOBHFNU-slPYhVHF6Nqw">

  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="<%= htmlWebpackPlugin.options.themeColor %>">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="<%= htmlWebpackPlugin.options.themeColor %>">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-status-bar-style" content="<%= htmlWebpackPlugin.options.themeColor %>">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-1155637778687673",
      enable_page_level_ads: true
    });
  </script> -->
</head>
<body>
  <div id="app"></div>

  <%= htmlWebpackPlugin.options.serviceWorker %>
  <!-- built files will be auto injected -->
</body>
</html>
